
/* Селектор элемента */
Grid {
  background-color: lightblue;
}
VerticalStackLayout {
  background-color: lightblue;
}

/* Селектор класса */
.btn-add {
  margin: 8;
}

/* Селектор идентификатора */
#header {
  font-size: 24;
  font-weight: bold;
  background-color: coral;
}
